.container header h2 {
  text-align: center;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
  padding-top: 3%;
  text-align: center;
  color: #fff;
}

.header p {
  margin: 0;
  color: #fff;
  text-align: center;
}
